/.emacs.desktop
/.emacs.desktop.lock
/examples
/data

# python specific ignores
*.py[co]
*.sw[op]
*~
.coverage
.project
.pydevproject
.settings
MANIFEST
build
cover
dist
docs/_build

# pycharm ignores
.idea
