/.emacs.desktop
/.emacs.desktop.lock
/examples
fhir-spec.zip

# python specific ignores
*.py[co]
*.sw[op]
*~
.coverage
.project
.pydevproject
.settings
MANIFEST
build
cover
dist
docs/_build
*.egg-info

# pycharm ignores
.idea
